$primaryColor: rgb(255, 255, 255);
$secondaryColor: rgb(255, 255, 255);
$fontColor: rgb(255, 255, 255);

$defaultFont: 'Lato', sans-serif;
$lightweight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;
